.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}


.col-6{
  width: 50%;
  float: left;
  padding: 20px;
}

.col-4{
  width: 33.33%;
  float: left;
  padding: 10px;
}

.col-3{
  width: 25%;
  float: left;
  padding: 10px;
}

.col-2{
  width: 16.66%;
  float: left;
  padding: 5px;
}